// Colours
// ================================================================================================
$dark-blue: hsl(233, 26%, 24%);
$colour-lime-green: hsl(136, 65%, 51%);
$colour-bright-cyan: hsl(192, 70%, 51%);

$colour-grayish-blue: hsl(233, 8%, 62%);
$colour-light-grayish-blue: hsl(220, 16%, 96%);
$colour-very-light-gray: hsl(0, 0%, 98%);
$colour-white: hsl(0, 0%, 100%);
