.navigation {
    background-color: $colour-white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 100%;

    &__box {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 63rem;

        @include respond(phone) {
            width: 100%;
        }
    }

    &__burger {
        cursor: pointer;
        display: none;

        @include respond(phone) {
            display: block;
        }
    }

    &__item {
        height: 100%;
    }

    &__list {
        @include respond(phone) {
            -moz-box-shadow: 5px 25px 143px 32px rgba(0,0,0,0.72);
            -webkit-box-shadow: 5px 25px 143px 32px rgba(0,0,0,0.72);
            background-color: $colour-white;
            border-radius: 0.3rem;
            box-shadow: 5px 25px 143px 32px rgba(0,0,0,0.72);
            display: none !important;
            flex-direction: column;
            height: 14rem !important;
            justify-content: center;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            padding: 2rem;
            position: absolute;
            right: 0;
            top: 4rem;
            width: 90%;

        }
    }

    &__logo {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    @include x-padding;
    @include links($colour-grayish-blue);
    @include respond(phone) {
        flex-direction: row !important;
        justify-content: space-between !important;

        @include x-padding(phone);
        @include center-global();
    }
}