body {
    font-family: 'Public Sans', sans-serif;
}

.heading {
    &--primary {
        color: $dark-blue;
        font-size: 2.5rem;
        font-weight: 400;

        @include respond(phone) {
            font-size: 2.1rem;
        }
    }

    &--secondary {
        color: $dark-blue;
        font-size: 2rem;
        font-weight: 200;
        padding-bottom: 2rem;

        @include respond(phone) {
            text-align: center;
        }
    }
}